@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navebar {
    display: flex;
    flex-flow: row wrap;
    height: 80px;
    background: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    flex: 20%;
    margin-left: 10%;
    text-align: left;
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #050142;
    font-size: 34px;
}

.menu {
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #050142;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #FF7569;
    border-top: 4px solid #050142;
}

#botao {
    background: #050142;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: #FF7569;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    background: white;
    padding-top: 100px;
}

.headline {
    margin-top: 10%;
    margin-left: 10%;
    flex: 40%;
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #050142;
    padding: 0;
    margin: 0;
}

.headline p {
    color: gray;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    background: #FF7569;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover {
    background: #050142;
}

.img-headline {
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

section {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #050142
}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #FF7569;
    border-radius: 10px;
    cursor: pointer;
}

.texto-oculto {
    display: none;
}

.card:hover {
    background: #FF7569;
    color: white;
    padding: 40px;
}

.card:hover img {
    display: none;
}

.card:hover .card-text {
    display: none;
}

.card:hover .texto-oculto {
    display: block;
}

footer {
    margin-top: 100px;
    height: 220px;
    background-image: linear-gradient(180deg, #050142, #090422, black);
    text-align: center;
    border-top: 5px solid #FF7569;
}

.logo-rodape {
    padding: 30px;
}

.copyright {
    font-size: xx-small;
}

.agencia {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 34px;
}

.whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
}